<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head th:replace="common.html :: #header">
</head>
<body>
<div class="container">
	<div th:replace="common.html :: #menu"></div>
	<div class="row"><h2>La liste des étudiants</h2></div>
	<div class="row">
		<p> <a href="/student/add" class="btn btn-primary btn-sm">Nouvel étudiant</a></p>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Matricule</th>
					<th>Prénom</th>
					<th>Nom</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="student : ${students}">
					<td style="width: 10%" th:text="${student.registrationNumber}"></td>
					<td th:text="${student.firstName}"></td>
					<td th:text="${student.lastName}"></td>
					<td style="width: 15%" class="text-center">
						<a th:href="@{/student/update/{id}(id=${student.registrationNumber})}">Modifier</a>&nbsp;|&nbsp;
						<a th:href="@{/student/delete/{id}(id=${student.registrationNumber})}">Supprimer</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>