<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common.html :: #header}">
</head>
<body>
<div class="container">
	<div th:replace="common.html :: #menu"></div>
	<div class="row"><h2>Les notes des étudiants</h2></div>
	<div class="row">
		<p> <a href="/grade/add" class="btn btn-primary btn-sm">Saisir une note</a></p>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Etudiant</th>
					<th>Matière</th>
					<th>Note</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="grade : ${grades}">
					<td style="width: 10%" th:text="${grade.student.firstName} + ' '+ ${grade.student.lastName}"></td>
					<td th:text="${grade.subject.name}"></td>
					<td th:text="${grade.grade}"></td>
					<td style="width: 15%" class="text-center">
						<a th:href="@{/grade/update/{id}(id=${grade.id})}">Modifier</a>&nbsp;|&nbsp;
						<a th:href="@{/grade/delete/{id}(id=${grade.id})}">Supprimer</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>